body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

div.active {
    background-color: #e7c9d3
}

div[ng-app] div.nonactive {
    display: none;
}

@media (min-width: 600px) {
    .returnLink {
        display: none;
    }
}

@media (max-width: 599px) {
    div[ng-app] div.active:not(.lastActive) {
        display: none;
    }
}

/* -----------------*/
/* CSS Transitions */
/* -----------------*/

.col-md-4,
.col-md-5,
.col-md-6,
.col-md-12 {
    -moz-transition: width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    transition: width 1s;
}