<div ng-class="{ employer != undefined ? active : nonactive }">

    <p>EmployerId: {{ employer.EmployerId }} </p>
    <p>Name: {{ employer.Name }} </p>
    <p>Phone: {{ employer.Phone }} </p>
    <ul>
        <li ng-repeat="childdata in employer.Employees">
            <p>

                <a href ng-click="getEmployee( childdata.EmployeeId )">EmployeeId: {{ childdata.EmployeeId }}</a>
                Name: {{ childdata.Name }} 						Phone: {{ childdata.Phone }} 						Email: {{ childdata.Email }} 						EmployerId: {{ childdata.EmployerId }} 						Employer: {{ childdata.Employer }}
            </p>
        </li>
    </ul>

</div>

