@{
    ViewBag.Title = "System basic data";
}

<h2>Here you can modify your own data as employer as well as the basic data related to your employees</h2>

<div ng-app="salarycalculationApp">

    <div ui-view="employerView" class="col-xs-6"></div>
    <div ui-view="employeeView" class="col-xs-6"></div>
    
</div>

@section ScriptToRunAtTheEnd
{
    <script src=@Url.Content("~/Scripts/Vendor/angular.min.js")> </script>
    <script src=@Url.Content("~/Scripts/Vendor/angular-ui-router.min.js")> </script>
    <script src=@Url.Content("~/Scripts/app.js")> </script>
    <script src=@Url.Content("~/Scripts/Controllers/crudControllers.js")> </script>
}